.task-content {
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}

.task-content .task-content-container {
  background-color: white;
  padding-top: 20px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  overflow: hidden;
}

.task-content .task-content-container .top {
  display: flex;
  align-items: center;
  width: 100%;
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 20px;
  padding: 0 20px;
}

.task-content .task-content-container .top .task-type {
  flex: 1;
  font-weight: lighter;
  font-size: 16px;
}

.task-content .task-content-container .top .task-title {
  flex: 1;
  text-align: center;
}

.task-content .task-content-container .top .remove-task-btn {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}

.task-content .task-content-container .bottom {
  width: 100%;
  background-color: #f6f7f8;
  box-shadow: var(--shadow);
  height: 100%;
}
