.task-content {
  padding: 20px;
  width: 100%;
  height: 100%;
  position: relative;
}

.task-content .task-content-container {
  background-color: white;
  padding-top: 20px;
  box-shadow: var(--shadow);
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.task-content .task-content-container .top {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-weight: bold;
  font-size: 24px;
  margin-bottom: 20px;
  padding: 0 40px;
}

.task-content .task-content-container .top .task-title {
  flex: 8;
}

.task-content .task-content-container .top .task-point {
  flex: 2;
  display: flex;
  justify-content: flex-end;
}

.task-content .task-content-container .bottom {
  width: 100%;
  background-color: #f6f7f8;
  box-shadow: var(--shadow);
  height: 100%;
  overflow-y: scroll;
}

/* MULTIPLE CHOICE TASK */

.task-content .multiple-choice-task {
  position: relative;
  padding: 40px 100px;
}

.task-content .multiple-choice-task .task-point {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}

.task-content .multiple-choice-task .answer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 10px;
}

.task-content .multiple-choice-task .answer .answer-item {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  padding: 15px;
  border: 1px solid #dcdfe3;
  border-radius: 5px;
  margin-bottom: 15px;
  grid-gap: 15px;
  background-color: white;
}

.task-content .multiple-choice-task .answer .answer-item-content {
  width: 100%;
}

.task-content .multiple-choice-task .answer .add-new-choice {
  width: 100%;
}

.task-content .multiple-choice-task .answer .answer-item .remove-choice-btn {
  opacity: 0;
}

.task-content
  .multiple-choice-task
  .answer
  .answer-item:hover
  .remove-choice-btn {
  opacity: 1;
}
