.checklist {
  background-color: #eeeeee;
  width: 100vw;
  height: 100vh;
}

.checklist .container {
  width: 100%;
  height: 100%;
  display: flex;
}

.checklist .container .left {
  flex: 2;
  width: 100%;
  height: 100%;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.checklist .container .left .top {
  width: 100%;
  height: 250px;
  background-color: white;
  position: relative;
  border-bottom-left-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
  box-shadow: var(--shadow);
}

.checklist .container .left .top .coverphoto {
  width: 100%;
  height: 120px;
}

.checklist .container .left .top .coverphoto img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.checklist .container .left .top .logo {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 100px;
  border-radius: var(--border-radius);
}

.checklist .container .left .top .logo img {
  background-color: white;
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  padding: 10px;
}

.checklist .container .left .top .title {
  margin-top: 70px;
  text-align: center;
  font-weight: bold;
  font-size: var(--page-name);
}

.checklist .container .left .bottom {
  margin-top: 20px;
  padding: 10px;
  width: 90%;
  height: 100%;
  background-color: white;
  position: relative;
  border-radius: var(--border-radius);
  box-shadow: var(--shadow);
  overflow-y: hidden;
}

.checklist .container .left .bottom:hover {
  overflow: scroll;
}

.checklist .container .left .bottom .checklist {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
  background-color: white;
}

.checklist .container .left .bottom .checklist .program {
  background-color: white;
  border-radius: 4px;
  box-shadow: var(--shadow);
  padding: 5px;
  cursor: pointer;
  font-weight: bold;
}
.checklist .container .left .bottom .checklist .program:hover {
  background-color: blue;
  color: white;
}

.checklist .container .right {
  width: 100%;
  flex: 6;
}

.checklist .container .right .title-bar {
  background-color: white;
  box-shadow: var(--shadow);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.checklist .container .right .title-bar .add-button {
  cursor: pointer;
  width: 40px;
  height: 40px;
}

.checklist .container .right .title-bar .program__name {
  font-size: var(--page-name);
  font-weight: bold;
}

.checklist .container .right .title-bar .more-button {
  cursor: pointer;
}
