.forgot-password {
  background-color: white;
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  padding: 10px;
}

.forgot-password__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  grid-gap: 30px;
  position: relative;
}

.forgot-password__container__title {
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  grid-gap: 10px;
}

.forgot-password .field {
  display: flex;
  width: 700px;
}

.forgot-password .field__label {
  width: 200px;
  font-weight: bold;
}

.forgot-password .field__input {
  flex: 1;
}

.field__verify {
  flex: 1;
  display: flex;
  grid-gap: 30px;
}