.list-program {
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: darkgrey;
}

.list-program .link.apps {
  color: white;
}

.list-program .container {
  width: 100%;
  height: 100%;
  display: flex;
}

.list-program .container .menu {
  width: 70px;
  height: 100vh;
  background-color: #0f171f;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-program .container .menu .logo {
  margin-top: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}

.list-program .container .menu .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.list-program .container .menu .menu-item.active {
  position: relative;
  opacity: 1;
  color: white;
}

.list-program .container .menu .menu-item.active:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background-color: #446cfc;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.list-program .container .menu .menu-item:hover {
  opacity: 1;
}

.list-program .container .menu .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  grid-gap: 20px;
}

.list-program .container .menu .bottom .folder,
.list-program .container .menu .bottom .settings {
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.list-program .container .menu .bottom .folder:hover,
.list-program .container .menu .bottom .settings:hover {
  opacity: 1;
}

.list-program .container .page-content {
  width: calc(100% - 70px);
  min-height: 100vh;
  background-color: #f6f7f8;
}

.list-program .container .page-content .topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #f6f7f8;
}

.list-program .container .page-content .topbar p {
  font-size: 20px;
  color: #364d79;
  font-weight: bold;
  margin: 0;
  margin-left: 10px;
}

.list-program .container .page-content .name-page {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #f6f7f8;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
}

.list-program .container .page-content .name-page .container {
  width: 80%;
}

.list-program .container .page-content .filter-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.list-program .container .page-content .filter-search .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  width: 80%;
}

.list-program .container .page-content .filter-search .container .search {
  display: flex;
  align-items: center;
  grid-gap: 5px;
  border-radius: 4px;
  border: 1px solid #dcdfe3;
  padding: 0 10px;
}

.list-program .container .page-content .programs {
  margin-top: 25px;
  width: 100%;
  min-height: 380px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
}

.list-program .container .page-content .programs .programs__container {
  width: 90%;
  height: auto;
}

.list-program .container .page-content .program {
  width: 100%;
  height: 380px;
  box-shadow: var(--shadow);
  background-color: white;
  display: flex;
  flex-direction: column;
}

.list-program .container .page-content .program .cover-photo {
  flex: 1;
  background-color: #3751ff;
}

.list-program .container .page-content .program .program-name {
  flex: 1;
  width: 100%;
  height: 100%;
  padding: 10px;
}

.list-program .container .page-content .program .program-name .link {
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.list-program .container .page-content .program .program-name .link:hover {
  text-decoration: underline;
}

.list-program .container .page-content .pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 80px;
  margin-top: 25px;
}
