.assignment-task-main {
  width: 100%;
  height: calc(100% - 40px);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: hidden;
}

.assignment-task {
  position: relative;
  padding: 40px 100px 10px 100px;
  width: 100%;
  height: 100%;
  overflow-y: scroll;
}

.assignment-task .task-point {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 20px;
  font-weight: bold;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 20px;
}

.assignment-task-main .upload-file {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.assignment-task-main .upload-file-left {
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.assignment-task-main .list-file {
  display: flex;
  flex-direction: column;
  grid-gap: 10px;
  margin-top: 10px;
}

.assignment-task-main .file-item {
  padding: 10px;
  background-color: white;
  box-shadow: var(--shadow);
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 20px;
}
