.list-task {
  padding: 0;
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: darkgrey;
}

.list-task .link.apps {
  color: white;
}

.list-task .container {
  width: 100%;
  height: 100%;
  display: flex;
}

.list-task .container .menu {
  width: 70px;
  height: 100vh;
  background-color: #0f171f;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.list-task .container .menu .logo {
  margin-top: 10px;
  padding: 5px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 30px;
}

.list-task .container .menu .menu-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-top: 30px;
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.list-task .container .menu .menu-item.active {
  position: relative;
  opacity: 1;
  color: white;
}

.list-task .container .menu .menu-item.active:before {
  content: '';
  position: absolute;
  top: 0;
  right: 0;
  width: 6px;
  height: 100%;
  background-color: #446cfc;
  border-bottom-left-radius: 5px;
  border-top-left-radius: 5px;
}

.list-task .container .menu .menu-item:hover {
  opacity: 1;
}

.list-task .container .menu .bottom {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 10px;
  grid-gap: 20px;
}

.list-task .container .menu .bottom .folder,
.list-task .container .menu .bottom .settings {
  color: white;
  opacity: 0.5;
  cursor: pointer;
}

.list-task .container .menu .bottom .folder:hover,
.list-task .container .menu .bottom .settings:hover {
  opacity: 1;
}

.list-task .container .page-content {
  width: calc(100vw - 70px);
  height: 100vh;
  background-color: #f6f7f8;
  overflow-y: hidden;
}

.list-task .container .page-content .topbar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-bottom: 1px solid #f6f7f8;
}

.list-task .container .page-content .topbar p {
  font-size: 20px;
  color: #364d79;
  font-weight: bold;
  margin: 0 0 0 10px;
}

.list-task .container .page-content .name-page {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-bottom: 1px solid #f6f7f8;
  font-size: 24px;
  font-weight: bold;
  padding: 20px 0;
}

.list-task .container .page-content .name-page .container {
  padding: 0 130px;
}

.list-task .container .page-content .filter-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: white;
}

.list-task .container .page-content .filter-search .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 130px;
}

.list-task .container .page-content .filter-search .container .search {

}

.list-task .container .list-task-content {
  margin-top: 20px;
  height: calc(100vh - 210px);
  padding: 0 130px;
  display: flex;
  grid-gap: 20px;
  justify-content: center;
  align-items: center;
}

.checklists-content-container-no {
  width: 100%;
  height: 100%;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}

.list-task .container .list-task-content .checklists {
  flex: 1;
  height: 100%;
}

.list-task .container .list-task-content .badges {
  flex: 1;
  height: 100%;
}

.checklists-title,
.badges-title {
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.checklists-content,
.badges-content {
  height: calc(100% - 30px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.checklists-content-container {
  width: 100%;
  height: 100%;
  overflow-y: scroll;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
}

.checklists-content-container .checklist {
  width: 100%;
  background-color: white;
  border-radius: 10px;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 18px;
  border: solid 1px #d4d4d4;
  font-weight: bold;
  margin-bottom: 10px;
}

.badges-content-container {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  background-color: white;
  border-radius: 10px;
}

.badges-content-container-wrap {
  display: flex;
  grid-gap: 20px;
  flex-wrap: wrap;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.badges-content-container .badge {
  background-color: #007fff;
  position: relative;
  cursor: pointer;
  height: 130px;
}

.badges-content-container .badge-right {
  position: absolute;
  top: 5px;
  right: 5px;
  opacity: 0;
}

.badges-content-container .badge:hover .badge-right {
  opacity: 1;
}

.badges-content-container .add-new-btn {
  width: 130px;
  height: 130px;
  background-color: #ddefff;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
}
