.multiple-task-review {
  width: 100%;
  height: calc(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.multiple-task-review__container {
  width: 100%;
  height: calc(100%);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 120px;
}

.multiple-task-review__container .quiz {
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
}

.multiple-task-review__container .choices {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  grid-gap: 20px;
}

.multiple-task-review__container .choices .choice {
  padding: 10px;
  box-shadow: var(--shadow);
  background-color: white;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  border-radius: 5px;
  position: relative;
}

.multiple-task-review__container .choices .choice.true {
  background-color: #52c41a;
}

.multiple-task-review__container .choices .choice.true .choice__content {
  color: white;
}

.multiple-task-review__container .choices .choice.false {
  background-color: #f5222d;
}

.multiple-task-review__container .choices .choice.false .choice__content {
  color: white;
}

.multiple-task-review__container .choices .choice__content {
  font-size: 18px;
  display: flex;
  align-items: center;
}

.multiple-task-review__container .true-answer {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -30px;
}
