.constructed-task-review {
  width: 100%;
  height: calc(100%);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.constructed-task-review__container {
  width: 100%;
  height: calc(100%);
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  padding: 20px 120px;
  position: relative;
}

.constructed-task-review__container .quiz {
  margin-top: 40px;
  font-size: 24px;
  font-weight: bold;
}

.constructed-task-review__container .user-answer {
  margin-top: 20px;
  padding: 10px;
  box-shadow: var(--shadow);
  background-color: white;
  display: flex;
  align-items: center;
  grid-gap: 10px;
  border-radius: 5px;
  position: relative;
  font-size: 18px;
}

.constructed-task-review__container .view-answer-btn {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}

.constructed-task-review__container .point-by-mentor__point {
  position: absolute;
  right: 10px;
  top: 10px;
  width: 100px;
}

.constructed-task-review__container .point-by-mentor__input {
  width: 100%;
  height: 40px;
  border: none;
  border-radius: 5px;
  padding: 0 10px;
  font-size: 18px;
  font-weight: bold;
  outline: none;
  background-color: white;
}
