.demo-loadmore-list {
  min-height: 350px;
}

.messages--item {
  cursor: pointer;
  .time,
  .ant-list-item-meta-description {
    font-size: 12px;
  }
}

.unread {
  font-weight: 700;
  .ant-typography {
    color: deepskyblue;
  }
}
